:root{
    --bg-color: rgba(13, 13, 13, 1);
    --text-color: rgba(226, 226, 226, 1);
    --elem-background-color: rgba(11, 15, 21, 1);
    --footer-bg-color: rgba(56, 54, 56, 1);
    --button-hover-color: rgb(27, 60, 151);
    --button-color1: black;
    --button-color2: white;
    --shade-color: rgba(55, 125, 255, 0.5);
    --li-border-color: rgba(255, 255, 255, 0.1);
    --li-bg-color: rgba(11, 15, 21, 1);
    --quicksand-font: 'Quicksand', sans-serif;
    --smaller-text: 0.7rem;
    --small-text: 0.8rem;
    --average-text: 1rem;
    --big-text: 1.6rem;
    --line-small: 1.6rem;
    --line-big: 2.5rem;
}

html{
    font-size: 16px;
    font-family: var(--quicksand-font);
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 5% auto;
    max-width: 80%;
}

header a{
    font-size: var(--average-text);
    margin-left: 10%;
}
.menu{
    background-color: transparent;
    border: 0;
}

.logo{
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: space-between;
}


header img{
    width: 10vw;
}

body{
    background-color: var(--bg-color);
}

.wrapper{
    margin-bottom: 25%;
    margin-inline: 8%;
}

footer{
    margin-top: 5%;
    background-color: var(--footer-bg-color);
}

.text{
    font-size: var(--small-text);
    line-height: var(--line-small);

    font-weight: lighter;
    margin-bottom: 8%;
}

.subheader{
    font-size: var(--big-text);
    line-height: var(--line-big);

    font-weight: bolder;
    margin-bottom: 10%;
}

h1{
    font-size: var(--small-text);

    margin-bottom: 2%;
    font-weight: bold;
}

.text, .subheader, h1{
    color: var(--text-color);
    text-align: center;
}

a{
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--smaller-text);
}

span{
    font-weight: bolder;
}

.button{
    border-radius: 24vh;
    background-color: var(--button-color2);
    color: var(--button-color1);
    padding: 3% 8%;
    width: fit-content;
    font-weight: bolder;
}
.wrapper:nth-child(1) .button,
.wrapper:nth-child(4) .button{
    display: block;
    margin-inline: auto;
    margin-bottom: 14%;
}

.btn-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 12%;

    font-weight: bolder;
}

.btn-wrap span{
    vertical-align: super;
}

.black{
    color: var(--button-color2);
    background-color: var(--button-color1);
    border: 0.2vw solid var(--button-color2);
}

.black img{
    width: 4vw;

}

.picture{
    display: block;
    margin-inline: auto;
    width: 100%;
}

.our-services{
    display: inherit;
    margin-bottom: 8%;
}

.our-services img{
    width: 5vw;
    position: relative;
    top: 2vw;
}

.services{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.services li{
    box-sizing: border-box;
    width: 65vw;
    height: 65vw;
    border: 0.3vw solid rgb(54, 53, 53);
    border-radius: 10vw;
    margin-bottom: 10%;
}

.services li img{
    margin-top: 20%;
    margin-bottom: 8%;
    width: 25vw;
}

.services a {
    font-size: var(--average-text);
}

.portfolio{
    display: flex;
    flex-direction: column;
}

.portfolio li{
    margin-bottom: 10%;
    text-align: center;
    position: relative;
}

.portfolio img{
    width: 65vw;
    display: block;
    margin-inline: auto;
}

.portfolio span{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    font-size: var(--average-text);
    text-wrap:nowrap;
}

.testimonial{
    display: flex;
    background-color: rgba(11, 15, 21, 1);
    border-radius: 6vw;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10%;
}

.testimonial  div:nth-last-child(1),
.testimonial  div:nth-last-child(2){
    display: none;
}

.testimonial div q{
    font-size: var(--small-text);
    font-weight: lighter;
    line-height: var(--line-small);
    color: var(--text-color);
}

.testimonial div p{
    color: gray;
    font-size: var(--smaller-text);
    line-height: var(--line-small);
    text-align: center;
}

.testimonial div span{
    color: var(--text-color);
    font-size: var(--average-text);
}

.testimonial div img{
    width: 18vw;
    margin-bottom: 12%;
    margin-right: 10%;
}

.footer-content{
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    color: var(--text-color);
    line-height: var(--line-big);
}

footer .logo{
    padding: 5vw;
    background-color: var(--button-color2);
    color: var(--button-color1);
    line-height: var(--line-small);
    border-radius: 5vw;
    height: 14vw;
    width: 36vw;
}

footer .logo img{
    width: 14vw;
}

.footer-content div{
    margin: 2% 4%;
}

.footer-content div > p{
    font-weight: bolder;
    font-size: var(--average-text);
}

.footer-content .logo span{ 
    font-size: var(--average-text);
    font-weight: lighter;
}

.footer-content a,
.footer-content address{
    font-size: var(--small-text);
    font-weight: lighter;
}

.contacts{
    display: flex;
    margin: 3% 6%;
    justify-content: space-evenly;
}

.contacts img{
    width: 10vw;
}

.copyright{
    display: block;
    color: var(--text-color);
    font-weight: lighter;
    font-size: var(--smaller-text);
    text-align: center;
    border-top-width: 0.3vw;
    border-style: double;
    border-top-color: darkgray;
    padding-block: 2%;
}

html, body { height: 100%;}

footer{
    padding-top: 15%;
    padding-inline: 5%;
    position: sticky;
    top: 100vh;
}

label > span{
    color: red;
}

form{
    background-color: rgb(133 150 169);
    margin-inline: 8%;
    padding: 6%;
    border: 0.2vw solid rgb(143, 137, 137);
    border-radius: 5vw;
}

form li+li{
    margin-top: 3%;
}

button.button {
    font-size: var(--smaller-text);
}

label {
    color: aliceblue;
    font-size: var(--average-text);
    font-weight: bold;
}

label strong{
    font-weight: lighter;
    margin-top: 5%;
}

li > input{
    box-sizing: border-box;
    margin-left: 3%;
    padding: 1%;
    border-radius: 0.5vw;
    height: 10%;
    font-size: var(--smaller-text);
}

li > select{
    margin-left: 3%;
    padding: 0.5%;
    font-size: var(--small-text);
}

option{
    font-size: var(--smaller-text);
}

li p{
    margin-top: 2%;
}

form ul li:nth-child(3) input{
    height: 2vw;
    width: 2vw;
}

form ul li:last-child{
    padding-inline: 10%;
}

a:focus, button:focus, input:focus{
    color: blue;
}


.button:focus, .button:hover,
.menu:hover, 
.services li:hover, 
.our-services a:focus, .our-services a:hover{
    scale: 110%;
    transition-duration: 0.15s;
}

.portfolio li:hover, .portfolio img:focus{
    scale: 105%;
    transition-duration: 0.15s;
}

.services li:hover, .services li:focus{
    background-color: rgba(13, 22, 35, 1);
}

@media screen and (orientation: portrait){
    .landscape{
        display: none;
    }

    @media (min-width: 720px) {
        :root{
            --smaller-text: 1.4rem;
            --small-text: 1.6rem;
            --average-text: 2rem;
            --big-text: 3.2rem;
            --line-small: 3.2rem;
            --line-big: 5rem;
        }
    }

    @media (min-width: 900px) {
        :root{
            --smaller-text: 1.75rem;
            --small-text: 2rem;
            --average-text: 2.5rem;
            --big-text: 4rem;
            --line-small: 4rem;
            --line-big: 6.25rem;
        }
    }

    @media (min-width: 1080px) {
        :root{
            --smaller-text: 2.1rem;
            --small-text: 2.4rem;
            --average-text: 3rem;
            --big-text: 4.8rem;
            --line-small: 4.8rem;
            --line-big: 7.5rem;
        }
    }

    @media (min-width: 1280px) {
        :root{
            --smaller-text: 2.5rem;
            --small-text: 2.84rem;
            --average-text: 3.5rem;
            --big-text: 5.7rem;
            --line-small: 5.7rem;
            --line-big: 9rem;
        }
    }

    @media (min-width: 1440px) {
        :root{
            --smaller-text: 2.8rem;
            --small-text: 3.2rem;
            --average-text: 4rem;
            --big-text: 6.4rem;
            --line-small: 6.4rem;
            --line-big: 10rem;
        }


    }

    @media (min-width: 2180px) {
        :root{
            --smaller-text: 4.2rem;
            --small-text: 4.8rem;
            --average-text: 6rem;
            --big-text: 9.6rem;
            --line-small: 9.6rem;
            --line-big: 15rem;
        }
    }

    @media (min-width: 2560px) {
        :root{
            --smaller-text: 5rem;
            --small-text: 5.7rem;
            --average-text: 7rem;
            --big-text: 11.4rem;
            --line-small: 11.4rem;
            --line-big: 18rem;
        }
    }

}

@media screen and (orientation: landscape){
    
    .landscape{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
    }
    
    .landscape > a{
        margin: 0;
    }

    .menu{
        display: none;
    }

    header .logo {
        width: 14vw;
        line-height: var(--line-small);
    }


    .wrapper :first-child :first-child {
        margin-inline: 8%;
    }

    .picture{
        width: 60%;
        margin-top: -5%;
    }

    .wrapper:nth-child(2) img {
        float: left;
        width: 50%;
        margin: 0;
    }

    .about-us{
        width: 45%;
        float: right;
    }

    .copyright{
        width: 66%;
        margin-inline: auto;
    }

    .our-services{
        width: 50%;
        text-align: right;
    }

    .services{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .services li{
        width: 22vw;
        height: 24vw;
        border-radius: 4vw;
    }

    .services li img{
        width: 8vw;
    }

    .portfolio{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .portfolio span{
        font-size: var(--smaller-text);

    }

    .portfolio img{
        width: 24vw;
    }

    .testimonial{
        display: flex;
    }

    .contacts img{
        width: 5vw;
        margin-inline: 1%;
    }

    footer .logo{
        width: 14vw;
        height: 2vw;
        border-radius: 4vw;
    }

    .footer-content{
        font-size: var(--smaller-text);
        line-height: var(--line-small);
    }

    @media (min-width: 768px) {
        :root{
            --smaller-text: 0.6rem;
            --small-text: 0.8rem;
            --average-text: 1rem;
            --big-text: 2.4rem;
            --line-small: 1.4rem;
            --line-big: 4rem;
        }
    }

    @media (min-width: 1024px) {
        :root{
            --smaller-text: 1.4rem;
            --small-text: 1.6rem;
            --average-text: 2rem;
            --big-text: 3.2rem;
            --line-small: 3.2rem;
            --line-big: 5rem;
        }
    }

    @media (min-width: 1440px) {
        :root{
            --smaller-text: 1.4rem;
            --small-text: 1.6rem;
            --average-text: 2rem;
            --big-text: 3.2rem;
            --line-small: 3.2rem;
            --line-big: 5rem;
        }
    }

    @media (min-width: 1920px) {
        :root{
            --smaller-text: 1.4rem;
            --small-text: 1.6rem;
            --average-text: 2rem;
            --big-text: 3.2rem;
            --line-small: 3.2rem;
            --line-big: 5rem;
        }
    }

    @media (min-width: 2560px) {
        :root{
            --smaller-text: 1.4rem;
            --small-text: 1.6rem;
            --average-text: 2rem;
            --big-text: 3.2rem;
            --line-small: 3.2rem;
            --line-big: 5rem;
        }
    }

    @media (min-width: 3840px) {
        :root{
            --smaller-text: 1.4rem;
            --small-text: 1.6rem;
            --average-text: 2rem;
            --big-text: 3.2rem;
            --line-small: 3.2rem;
            --line-big: 5rem;
        }
    }

}

